/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[ MASTER STYLESHEETS ]

AUTHOR : NCode.Art
PROJECT NAME : Zest Under-Construction Template
VERSION : 0.05
LAYOUT : 5
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


/*......................................................
	DESKTOP LAYOUT
........................................................*/
@media only screen and (min-width: 1500px){

}
@media only screen and (min-width: 1200px) and (max-width: 1499px){

	/*	COVER PAGE
	---------------------------------*/
	#countdown_dashboard{ width: 80%; }

	/*	PORTFOLIO PAGE
	---------------------------------*/
	.portfolio-wrp{ width: auto; }

	/*	CONTACT-US PAGE
	---------------------------------*/
	.form-wrapper #cntForm{ width: auto; }

	/*	SUBSCRIBE PAGE
	---------------------------------*/
	.subscription{ width: auto; }

}
@media only screen and (min-width: 980px) and (max-width: 1199px){

	/*	LAYOUT
	---------------------------------*/
	.page .container{ width: 75%; }

	/*	GENERAL
	---------------------------------*/
	.title .hd{ font-size: 36px; }
	.title .separator{ margin-top: 22px; }
	.title p{ font-size: 24px; margin-top: 24px; }

	/*	COVER PAGE
	---------------------------------*/
	#countdown_dashboard{ width: 90%; }

	/*	HOME PAGE
	---------------------------------*/
	.tagline .hd{ font-size: 50px; }
	.tagline p{ font-size: 24px; }
	.cd-intro{ width: 100%; min-height: 100px; }

	/*	ABOUT-US
	---------------------------------*/
	.info-box{ width: 90%; margin: auto; }

	/*	PORTFOLIO PAGE
	---------------------------------*/
	.portfolio-wrp{ width: auto; }
	.img-box .img-wrapper .img{ 
		min-width: 0; 
		min-height: 0; 
		padding: 15px;
	}

	/*	CONTACT-US PAGE
	---------------------------------*/
	.form-wrapper #cntForm{ width: auto; }
	.contact-box .text p, 
	.contact-box .text a{
		font-size: 14px;
	}

	/*	SUBSCRIBE PAGE
	---------------------------------*/
	.subscription{ width: auto; }
}



/*......................................................
	TABLET LAYOUT
........................................................*/
@media only screen and (min-width: 768px) and (max-width: 979px){

	/*	LAYOUT
	---------------------------------*/
	.main-wrapper{ padding-left: 0; }
	.page .container{ width: 70%; }

	/*	GENERAL
	---------------------------------*/
	.title .hd{ font-size: 36px; }
	.title .separator{ margin-top: 22px; }
	.title p{ font-size: 24px; margin-top: 24px; }

	/*	COVER PAGE
	---------------------------------*/
	#cover-page{ min-height: 0 !important; }
	.social-icon-wrp.mob{ display: block; }
	.equal-part{ display: none; }
	.navigation-wrapper{ 
		min-width: 0;
		height: 100%;
		left: 0;
		margin-left: 0;
	 }
	 .navigation-wrapper .inner-wrapper{
	 	position: fixed;
	 	left: 0;
	 	top: 0;
	 	width: 100%;
	 }
	.navigation-wrapper .menu-icon{ 
		position: fixed; 
		top: 40px !important;
		left: initial;
		right: 40px;
		margin-top: 0;
		margin-right: 0;
	}
	.navigation li .navigation-link{ font-size: 18px; }

	#countdown_dashboard{ width: 100%; }

	/*	HOME PAGE
	---------------------------------*/
	.clock-wrp{ height: 260px; }
	.tagline .hd{ font-size: 50px; }
	.tagline p{ font-size: 24px; margin-top: 24px; }
	.cd-intro{ width: 100%; min-height: 100px; }

	/*	ABOUT-US
	---------------------------------*/
	.info-box-carousel .owl-carousel .owl-item{ padding: 3px 0; }
	.info-box{ width: 100%; margin: auto; }

	/*	PORTFOLIO PAGE
	---------------------------------*/
	.portfolio-wrp{ width: auto; }
	.img-box .img-wrapper .img{ min-width: 0; min-height: 0; }

	/*	CONTACT-US PAGE
	---------------------------------*/
	.form-wrapper #cntForm{ width: auto; }
	.contact-box .text p, 
	.contact-box .text a{
		font-size: 14px;
	}

	/*	SUBSCRIBE PAGE
	---------------------------------*/
	.subscription{ width: auto; }

}



/*......................................................
	MOBILE LAYOUT
........................................................*/
@media only screen and (min-width: 600px) and (max-width: 767px){

	/*	LAYOUT
	---------------------------------*/
	.page .container{ width: 70%; }

	/*	GENERAL
	---------------------------------*/
	.title .hd{ font-size: 34px; }
	.title .separator{ margin-top: 20px; }
	.title p{ font-size: 22px; margin-top: 22px; }

	/*	COVER PAGE
	---------------------------------*/
	.logo-wrapper{ width: 70px; }
	.navigation-wrapper .menu-icon{ width: 70px; height: 70px; }
	.navigation-wrapper{ 
		width: 0;
		height: 100%;
		left: 50%;
		margin-left: 0;
	 }
	 .navigation-wrapper .inner-wrapper{
	 	position: fixed;
	 	left: 0;
	 	top: 0;
	 }
	.navigation-wrapper .menu-icon{ 
		position: fixed; 
		top: 40px;
		left: initial;
		right: 40px;
		margin-top: 0;
	}

	/*	HOME PAGE
	---------------------------------*/
	#countdown_dashboard{ width: 100%; min-height: 90px; }
	.dash .digit{ font-size: 40px; min-width: 22px; }
	.days .dash.days_dash,
	.time .dash{ padding: 12px; }

	.clock-wrp{ height: 240px; }
	.tagline .hd{ font-size: 46px; }
	.tagline p{ font-size: 22px; margin-top: 22px; }
	.cd-intro{ 
		width: 100%; 
		min-height: 90px; 
		margin-bottom: 30px;
	}
	.cd-headline{ font-size: 26px; }
	.cd-headline .cd-words-wrapper,
	.cd-headline .cd-words-wrapper b{ font-size: 32px; }

	/*	ABOUT-US
	---------------------------------*/
	.info-box{ width: 80%; margin: auto; }

	/*	CONTACT-US PAGE
	---------------------------------*/
	.contact-box .text p, 
	.contact-box .text a{
		font-size: 14px;
	}

}
@media only screen and (min-width: 480px) and (max-width: 599px){

	/*	LAYOUT
	---------------------------------*/
	.page .container{ width: 80%; }

	/*	GENERAL
	---------------------------------*/
	.title .hd{ font-size: 32px; }
	.title .separator{ margin-top: 16px; }
	.title p{ font-size: 20px; margin-top: 20px; }

	/*	COVER PAGE
	---------------------------------*/
	.logo-wrapper{ width: 60px; height: auto; }
	.navigation-wrapper .menu-icon{ width: 60px; height: 60px; }
	.navigation-wrapper{ 
		width: 0;
		height: 100%;
		left: 50%;
		margin-left: 0;
	 }
	 .navigation-wrapper .inner-wrapper{
	 	position: fixed;
	 	left: 0;
	 	top: 0;
	 }
	.navigation-wrapper .menu-icon{ 
		position: fixed; 
		top: 40px;
		left: initial;
		right: 40px;
		margin-top: 0;
	}

	/*	HOME PAGE
	---------------------------------*/
	#countdown_dashboard{ width: 100%; min-height: 80px; }
	.dash .digit{ font-size: 38px; min-width: 22px; }
	.days .dash.days_dash,
	.time .dash{ padding: 12px; }
	.dash_title{ font-size: 14px; }

	.clock-wrp{ height: 210px; }
	.tagline .hd{ font-size: 42px; }
	.tagline p{ font-size: 20px; margin-top: 20px; }
	.tagline + .btn,
	.tagline + .cd-intro + .btn{ margin-top: 30px; }
	.cd-intro{ 
		width: 100%; 
		min-height: 80px; 
		margin-bottom: 20px;
	}
	.cd-headline{ font-size: 22px; }
	.cd-headline .cd-words-wrapper,
	.cd-headline .cd-words-wrapper b{ font-size: 30px; }

	/*	ABOUT-US
	---------------------------------*/
	.info-box{ width: 80%; margin: auto; }

	/*	CONTACT-US PAGE
	---------------------------------*/
	.contact-box .text p, 
	.contact-box .text a{
		font-size: 14px;
	}

	/*	SUBSCRIBE PAGE
	---------------------------------*/
	.subscription-form .btn{ position: inherit; margin-top: 10px; }
	.subscription i.error-text{ top: 20px; right: 20px; }

}
@media only screen and (min-width: 320px) and (max-width: 479px){

	/*	LAYOUT
	---------------------------------*/
	.page .container{ width: 90%; }

	/*	GENERAL
	---------------------------------*/
	.title-wrapper{ margin-bottom: 20px; }
	.title .hd{ font-size: 30px; }
	.title .separator{ margin-top: 16px; }
	.title p{ font-size: 16px; margin-top: 16px; }

	/*	COVER PAGE
	---------------------------------*/
	.logo-wrapper{ width: 50px; height: auto; }
	.navigation-wrapper .menu-icon{ width: 50px; height: 50px; }
	.navigation-wrapper{ 
		width: 0;
		height: 100%;
		left: 50%;
		margin-left: 0;
	 }
	 .navigation-wrapper .inner-wrapper{
	 	position: fixed;
	 	left: 0;
	 	top: 0;
	 }
	.navigation-wrapper .menu-icon{ 
		position: fixed; 
		top: 40px;
		left: initial;
		right: 40px;
		margin-top: 0;
	}
	.menu span, 
	.menu span:before, 
	.menu span:after{
		width: 22px;
	}
	.menu span:before{ margin-top: -7px; }
	.menu span:after{ margin-top: 7px; }
	.example5 span:after,
	.example5 span:before{ 
		margin-top: 0; 
	}

	/*	HOME PAGE
	---------------------------------*/
	#countdown_dashboard{ width: 100%; min-height: 70px; }
	.dash .digit{ font-size: 32px; min-width: 18px; }
	.days .dash.days_dash,
	.time .dash{ padding: 7px; }
	.dash_title{ font-size: 12px; }

	.clock-wrp{ height: 180px; }
	.tagline .hd{ font-size: 30px; margin-bottom: 18px; }
	.tagline p{ font-size: 18px; margin-top: 18px; }
	.tagline + .btn,
	.tagline + .cd-intro + .btn{ margin-top: 30px; }
	.cd-intro{ 
		width: 100%; 
		min-height: 60px; 
		margin-bottom: 20px;
	}
	.cd-headline{ font-size: 18px; }
	.cd-headline .cd-words-wrapper,
	.cd-headline .cd-words-wrapper b{ font-size: 24px; }

	/*	ABOUT-US
	---------------------------------*/
	.info-box{ width: 100%; margin: auto; }

	/*	PORTFOLIO PAGE
	---------------------------------*/
	.img-box .img-wrapper .img{ padding: 5px; }

	/*	CONTACT-US PAGE
	---------------------------------*/
	.contact-box .text p, 
	.contact-box .text a{
		font-size: 14px;
	}

	/*	SUBSCRIBE PAGE
	---------------------------------*/
	.subscription-form .btn{ position: inherit; margin-top: 10px; }
	.subscription i.error-text{ top: 20px; right: 20px; }

} 
@media only screen and (min-width: 320px) and (max-width: 767px){

	/*	LAYOUT
	---------------------------------*/
	.main-wrapper{ padding-left: 0; }
	.main-wrapper,
	.overlay{
		position: fixed;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}
	#page-container .inner-container{
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		transform: none;
		top: 0;
		left: 0;
		padding: 80px 0 50px 0;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
	.equal-part{ display: none; }

	/*	GENERAL
	---------------------------------*/
	.logo-wrapper{ top: 20px; left: 20px; }

	.separator,
	.separator > span{ width: 15px; height: 15px; }	

	/*	COVER PAGE
	---------------------------------*/
	#cover-page{ min-height: 0 !important; }
	.social-icon-wrp.mob{ display: block; }
	.navigation-wrapper{ min-width: 0; left: 0; }
	.navigation-wrapper .inner-wrapper{ width: 100%; }
	.navigation-wrapper .menu-icon{ 
		top: 20px !important; 
		right: 20px; 
		margin-right: 0;
	}

	/*	ABOUT-US PAGE
	---------------------------------*/
	.info-box-carousel .carousel .item{ padding-left: 3px; padding-right: 3px; }

	/*	PORTFOLIO PAGE
	---------------------------------*/
	.portfolio-wrp{ width: auto; }
	.img-box .img-wrapper .img{ min-width: 0; min-height: 0; }

	/*	CONTACT-US PAGE
	---------------------------------*/
	.form-wrapper #cntForm{ width: auto; }

	/*	SUBSCRIBE PAGE
	---------------------------------*/
	.subscription{ width: auto; }
}